*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e9eaed;
    font-size: 16px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 60px;
    width: 100%;
    background: #1c2327;
    margin-bottom: 20px;
}
.headerBox{
    height: 100%;
    width: 1200px;
    background: #1c2327;
    margin-left: auto;
    margin-right: auto;

}
.search {
    margin-top: 5px;
    width: 39px;
    height: 39px;
    float: right;
    display: inline;
    cursor: pointer;
    background: url("../image/bg.png") no-repeat center !important;
}
.blog{
    width: 160px;
    height: 100%;
    background: #1c2327;
    float: left;
}
.blog>h1{
    color: white;
    background: #1c2327;
    margin-top:5px ;
}
div.nav{
    height: 45px;
    background-color: #1c2327;
    color: white;
    margin-top: 15px;
    float: left;
}
ul.nav{
    background-color:  #1c2327;
    list-style: none;
}
ul.nav li{
    float: left;
    margin-right: 40px;
    background-color:  #1c2327;

}
.nav a{

    color: #ffffff;
    text-decoration: none;
}
.nav a:hover {
    color: #1994d2 ;
}
article {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.timebox{
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.timebg{
    background: url("../image/abbg.png") no-repeat right top #fff;
    padding: 30px;
}
h2.tittle{
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    color: #484848;
    font-weight: normal;
    position: relative;
    margin-bottom: 10px;
}
h2.tittle:before{
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    display: block;
    background: #000;
    left: 0;
    bottom: 0;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
h2.tittle:hover:before{
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    display: block;
    background: #000;
    left: 0;
    bottom: 0;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
ul.list i{
    position: relative;
    font-style: normal;
}
ul.list i:hover:before{
    background: #333333;
}
ul.list i:before{
    content: " ";
    height: 10px;
    width: 10px;
    border: 2px solid #cccaca;
    background: #fff;
    position: absolute;
    top: 4px;
    left: -26px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
ul.list span{
    position: relative;
    line-height: 32px;
    padding-right: 40px;
    color: #999;
}
ul.list span:before{
    position: absolute;
    content: "";
    width: 2px;
    height: 40px;
    background: #e0dfdf;
    right: 18px;
}
ul.list a{
    color: #333333;
}
div.bottom {
    text-align: center;
    color: #666;
    width: 100%;
    clear: both;
    margin: 0 0 10px
}
div.bottom >a{
    color: #666;
    margin: 0 5px 10px;
    padding: 5px 10px;
    background: #F7F7F7;
    display: inline-block;
    color: #19585d;
    font-weight: bold;
}




